.box {
    width: max(calc(100% / 7 - 20px), 100px);
    aspect-ratio: 1;
    margin: 10px;

    background-color: #1389b2;

    display: flex;
    align-items: center;
    justify-content: center;

    font-weight: bold;
}

.box.fizz {
    background-color: yellow;
}

.box.buzz {
    background-color: aquamarine;
}

.box.fizz.buzz {
    background-color: salmon;
}